div {
    color: rgb(197, 197, 197);
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 30px;
    
}

body {
    text-align: center;
    background-color: rgb(40, 40, 43);
}

canvas {
    border: 5px solid rgb(28, 28, 31);
    border-radius: 20px;
}